img {
    width: 60%;
  }

body, html {
height: 100%;
}

#aside {
    background-color:#04543c;
    color: white;
    font-size: 1.125rem;
}

#myprofile{
    margin-top: 30%;
}

.imgsize{
    width: 50%;
    height: 100%;
}

.imgsize-is-test{
    width: 60%;
    height: 90%;
}

.top-buffer { margin-top:2px; }

